
.collectiontitle{
    flex: 1;
    font-family: 'Oooh Baby', sans-serif;
font-size: 48px;
margin-top: 18px;
margin-bottom: 7%;
text-align: center;
    
}
.catblock1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.catbutton{
    width: 160px;
    height: 50px;
    font-family: 'Oooh Baby', sans-serif;
    border: 2px solid ;
    border-color: white;
    background-color: transparent;
    margin-bottom: 10%;
    color: white;

}
.catbutton:hover{
    background-color: rgb(215, 109, 114);
    cursor: pointer;


}
.categ{
    flex: 1;
  

}
.firstdiv2{
   display: flex;
   flex-direction: column;
    background-color: rgb(187, 0, 9);
    justify-content: center;
    align-items: center;

    width: 50%;
    color: white;
        margin-left: 28%;
    
    
}
.text{
    text-align: center;
    margin-bottom: 18%;
}

.catimgs{

   flex: 2;
   display: flex;
    justify-content: left;
    align-items: left;
}


.catimgsize{
    width: 90%;
    height:420px;
    margin-bottom: 13%;
    margin-right: 33%;

    /* margin-top: 8%; */
}


.title{
    margin-top: 5%;
}
@media only screen and (max-width: 600px) {
    .catimgsize{
        display: none;
        
    }
    .firstdiv2{
        flex: 1;
        background-color: rgb(187, 0, 9);
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
        width:290px;
        color: aliceblue;
        display: flex;
        
        margin-right: 0%;
        margin-left: 0%;
        margin-bottom: 15%;
        
        
    
    }

    .catblock1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: center;
        margin-top: 5%;
    }
}
