.contactimg{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.empty{
    flex: 1;
}
.contactinfo{
    flex: 1;
    background-color: rgb(187, 0, 9) ;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    height: 450px;
    width: 20% ;
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    margin-top: 5%;
}
.title1{
    flex: 1;
    font-size:54px ;
    font-family: 'Oooh Baby', sans-serif;
    margin-top: 7%;
    margin-bottom: 2%;
    color: white;
}
.randomtxt{
    flex: 1;


}
.table1 {
    border-collapse: collapse;
    width: 60%;
    margin-bottom: 12%;
  }

 

  th, td {
    padding: 18px;
    text-align: left;
  }
/* img, video {
  max-width: fit-content;
  height: auto;
} */
 .copyright{
    flex: 1;
    color: white;
    height: 40px;
    text-align: center;
    margin-top: 4%;
 }
 .contactdiv{
    background-image: url('C:\Users\CompuTop\Desktop\Velvet Delights\velvet-delights\src\Images\contact.jpg');  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    display: flex;
    flex-direction: column;
 }
 .a{flex:1;}
.pngs{
    max-width: fit-content;
  height: auto;
}
 @media (max-width: 600px) {
    @media (max-width: 600px) {
  .contact-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 12px; /* Adjust the spacing between rows */
  }

  .contact-icon {
    margin-bottom: 10px; /* Adjust the spacing between the icon and text */
  }

  .contactimg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .empty {
    display: none;
  }

  .contactinfo {
    flex: 1;
    background-color: rgb(187, 0, 9);
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    height: 450px;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-right: 0%;
    margin-top: 15%;
  }

  .copyright {
    flex: 1;
    color: white;
    height: 40px;
    text-align: center;
    margin-top: 14%;
  }
}
 }