.txtdeco{
    font-family: 'Oooh Baby', sans-serif;
    font-size: 36px;
    font-weight: 400;
    color:  rgb(187, 0, 9);
}
.orderform{
    margin-top: 10%;
    margin-bottom: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;
}
.table1{
    width: 90%;

}
.descdiv{
    border: 3px solid  rgb(187, 0, 9);
width: 100%;
height: 130px;

}
.btn{
    border: 3px solid  rgb(187, 0, 9);
color: rgb(187, 0, 9);
background-color: transparent;
width: 60%;
}
.check{
    font-size: 18px;
    font-weight: 400;
    color:  rgb(187, 0, 9);
}
.check input[type="checkbox"] {
    margin-right: 8px; 
}

  
 textarea{
    font-size: 18px;
    font-weight: 400;
    color:  rgb(187, 0, 9);
 }

 @media (max-width: 700px) {
    .orderform{
        margin-top: 25%;
      
    }
    .table1 tr {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        margin-left: 17%;
      }
    
      .table1 td {
        text-align: left;
        width: 100%;
      }
    
      .table1 td[colspan="3"] {
        width: 100%;
      }
    
      .check {
        margin-bottom: 10px;
      }
    
      .btn {
        width: 100%;
      }
 }
  