.footer{
    background-color: rgb(187, 0, 9)  ;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    justify-content: center;
    text-align: center;
}
.footlogo{
    flex: 1;

}
.ftlogo{
    width: 80%;
   

}
.randomtxt1{
    color: white;
    flex:1;
    text-align: left;
    margin-left: 5%;
}
.footpn{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
justify-content: center;
text-align: center;
}

.footemail{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
justify-content: center;
text-align: center;
}

.footaddress{
    flex: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
justify-content: center;
text-align: center;
}
.footmg{
 margin-left: 10%;
}

@media (max-width: 700px) {
    .footer {
        flex-direction: column;
        height: fit-content;
        align-items: flex-start; /* Align items to the left */
        justify-content: center; /* Center the content vertically */
        text-align: left; /* Align text to the left */
      }
    
      .footmg {
        margin-left: 0%;
      }
    
      .footpn,
      .footemail,
      .footaddress {
        align-items: flex-start; /* Align items to the left */
        justify-content: center; /* Center the content vertically */
        text-align: left; /* Align text to the left */
        margin-bottom: 20px; /* Add more space between elements */
      }
    
      .footpn {
        flex-direction: row; /* Keep the phone icon and number on the same line */
      }
}