.footer{
    background-color: rgb(187, 0, 9)  ;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    justify-content: center;
    text-align: center;
}
.footlogo{
    flex: 1;

}
.ftlogo{
    width: 80%;
   

}
.randomtxt1{
    color: white;
    flex:1;
    text-align: left;
    margin-left: 5%;
}
.footpn{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
justify-content: center;
text-align: center;
}

.footemail{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
justify-content: center;
text-align: center;
}

.footaddress{
    flex: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
justify-content: center;
text-align: center;
}
.footmg{
 margin-left: 10%;
}

@media (max-width: 700px) {
    .footer {
      flex-direction: column;
      height: fit-content;
      align-items: center; /* Align items to the center */
      justify-content: center;
      text-align: center;
    }
  
    .footmg {
      margin-left: 0%;
    }
  
    .footpn,
    .footemail,
    .footaddress {
      display: flex;
      align-items: center; /* Align items vertically */
      justify-content: center;
      text-align: center;
      margin-bottom: 20px;
    }
  
    .footpn img,
    .footemail img,
    .footaddress img {
      margin-right: 10px; /* Adjust the spacing between the icon and text */
    }
  
    .footpn {
      flex-direction: column; /* Adjust the layout for phone number */
    }
  }
  